<h1>favourites</h1>
<div class="favourites">
{{recipesFounded.recipeName}}

<h1>55555555555555</h1>
<h2>{{this.recipeFounded.recipeName}}</h2>
<h1>{{favouriteRecipes.recipeName}}</h1>
<h1>{{recipesFounded.recipeName}}</h1>
<h1>{{recipesFounded.difficulty}}</h1>
<h1>{{this.Steps}}</h1>
<h1>{{this.recipeFounded.ingredientsList}}</h1>
</div>

