<nav class="nav-bar">
	<button class="btn-nav">
	<a class="nav-bar-link" href="/">Home</a>
	</button>
</nav>
{{#if userInSession}}
    <h2>This is your profile page {{userInSession.username}}! </h2>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}
<div class="profile-form">
    <form action="/profile/edit" method="POST">
        <label for="input-name">Username</label>
        <br>
        <input type="text" name="input-name" id="name" value="{{userInSession.username}}">
        <br>
        <label for="input-email">Email</label>
        <br>
        <input type="text" name="input-email" id="email" value="{{userInSession.email}}">
        <br>
        <label for="input-email">email</label>
        <br>
        <input type="text" name="input-email" id="email" value="{{userInSession.email}}">
        <br>       
        <button class="submit" type="submit">Save Changes</button>
        <br>
    </form>

</div>



