{{#if userInSession}}
<h2>Welcome, {{userInSession.username}}! </h2>
<h2>This is your profile page! </h2>

{{else}}
<p>Still no logged in user, sorry!</p>

{{/if}}
<div class="profile-form">
    <form action="/profile/edit" method="POST">
        <label for="input-name">name:</label>
        <br>
        <input type="text" name="input-name" id="name" value="{{userInSession.username}}">
        <br>
        <label for="input-email">email:</label>
        <br>
        <input type="text" name="input-email" id="email" value="{{userInSession.email}}">
        <br>
        <label for="input-email">email:</label>
        <br>
        <input type="text" name="input-email" id="email" value="{{userInSession.email}}">
        <br>
        
        <button class="submit-profile" type="submit">Save Changes</button>
    </form>

</div>



