<nav class="nav-bar">
	<button class="btn-nav">
		<a class="nav-bar-link" href="/"><img class="img-logo" src="/images/Logo (1).png" alt="" /></a>	
	</button>
     <form id="logout-form" action="/logout" method="POST">
        <button type="submit" class="btn-nav">Logout</button>
    </form>
  
</nav>
<div class="recipe-detail">
 {{#each recipe}}
  
    <h1>{{recipeName}}</h1>
    <h3>{{difficulty}}</h3>
    <h3>{{TimeToCook}}</h3> 
     
      <ul>   
        {{#each recipe.ingredientsList}}  
      <li class="li-details"> {{this}} </li>
        {{/each}} 
      </ul> 
    
    <p>{{this.Steps}}</p>
       
  {{/each}}
  <form action="/recipes/{{_id}}/details" method="POST">
  <button class="submit" type="submit">Add favourites</button>
  </form>
</div>