
<div class="recipe-detail">
{{#each recipe}}
  
    <h1>{{this.recipeName}}</h1>
    <h3>{{this.difficulty}}</h3>
    <h3>{{this.TimeToCook}}</h3>
    <p>{{this.ingredientsList}}</p>
   
    <p>{{this.Steps}}</p>

{{/each}}
</div>