<nav class="nav-bar">
	<button class="btn-nav">
		<a class="nav-bar-link" href="/"><img class="img-logo" src="/images/Logo (1).png" alt="" /></a>	
	</button>
     <form id="logout-form" action="/logout" method="POST">
        <button type="submit" class="btn-nav">Logout</button>
    </form>
  
</nav>
<div class="recipe-detail">
 
  
    <h1>{{recipe.recipeName}}</h1>
    <h3> <i>Difficulty:</i>  {{recipe.difficulty}}</h3>
    <h3> <i> Time to cook:</i> {{recipe.TimeToCook}}</h3> 
     
      <ul><i class="title-list">Ingredients list</i>  
        {{#each recipe.ingredientsList}}  
      <li class="li-details"> {{this}} </li>
        {{/each}} 
      </ul> 
    
    <ul> <i class="title-list">Steps</i>  
        {{#each recipe.Steps}}  
      <li class="li-details"> {{this}} </li>
        {{/each}} 
      </ul> 
       <div>
         <iframe width="335" height="400" src="https://www.youtube.com/embed/o-1dMLJwOe0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
  
  <form action="/recipes/{{recipe._id}}/details" method="POST">
  <button class="submit" type="submit">Add favourites</button>
  </form>
</div>