<nav class="nav-bar">
	<button class="btn-nav">
		<a class="nav-bar-link" href="/"><img class="img-logo" src="/images/Logo (1).png" alt="" /></a>	
	</button>
     <form id="logout-form" action="/logout" method="POST">
        <button type="submit" class="btn-nav">Logout</button>
    </form>
  
</nav>
<div class="recipe-detail">
 
  
    <h1>{{recipe.recipeName}}</h1>
    <h3> Difficulty: {{recipe.difficulty}}</h3>
    <h3>Time to cook: {{recipe.TimeToCook}}</h3> 
     
      <ul>   
        {{#each recipe.ingredientsList}}  
      <li class="li-details"> {{this}} </li>
        {{/each}} 
      </ul> 
    
    <ul>   
        {{#each recipe.Steps}}  
      <li class="li-details"> {{this}} </li>
        {{/each}} 
      </ul> 
       
  
  <form action="/recipes/{{recipe._id}}/details" method="POST">
  <button class="submit" type="submit">Add favourites</button>
  </form>
</div>